html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/*
#control-panel {
    width: 100vw;
    top: 0;
    height: 7vh;
    background: white;
}

.control {
    height: 80%;
    margin: auto 0.5em;
    border-radius: 0.3em;
    border: 1px solid black;
    vertical-align: middle;
}

#control-panel input {
    width: 5em;
    border-radius: 0;
    height: 1.5em;
}

#control-panel div,
#control-panel span,
#control-panel ul,
#control-panel li {
    border: none;
}

#control-panel div,
#control-panel span{
    display: inline-block;
}

#control-panel div * {
    margin-right: 0;
    margin-left: 0;
}

#control-panel button:active {
    background: #ccc;
}

#control-panel button.important-control {
    background: #95ee8a;
}

#control-panel button.important-control:active {
    background: #cdeec8;
}

#canvas {
    margin-top: 1em;
    border: 1px solid black;
    background: lightgray;
    width: min(70vw, 70vh);
}


.hidden {
    visibility: hidden;
}
/*
.param-list-wrapper {
    position: absolute;
    top: 2em;
    width: 100vw;
    height: fit-content;
    background: white;
    border-radius: 0;
}

.param-list {
    visibility: inherit;
    list-style: none;
    width: 90%;
}

.param {
    visibility: inherit;
    display: block;
    border-radius: 0;
    margin: 0.5em 0;
}

.param input {
    margin: 0;
    padding: 0;
    display: inline-flex;
    vertical-align: middle;
}*/